.navbar {
	display: flexbox;
	flex-direction: row;
	align-items: center;
	width: 100%;
	padding: 2em 2em;
	background-color: #252525;
	color: rgb(68, 137, 197);

	&__link {
		padding: 1em;
		font-size: 14px;
		color: #fff;
		text-decoration: none;
	}
}

.and {
	background-color: pink;
	color: white;
	text-align: center;
	text-decoration: overline;
}
